---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    REDIRECT FROM GOOGLE
</body>
</html>

<script>

    import { GoogleOauth } from "../../../assets/types/googleOauth.js";
    import { API_URL } from "../../../consts.js";

    function getUrlParameters(): GoogleOauth {
        var params = {};
        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) {
            params[key] = value;
        });
        return params as GoogleOauth;
    }

    function retrieveUserInfos() {
        const params: GoogleOauth = getUrlParameters();
        console.log(params.access_token);
        fetch(`${API_URL}auth/google/callback?access_token=${params.access_token}`)
            .then(res => res.json())
            .then(res => {
                console.log(res);
                // localStorage.setItem("token", res.token);
                // localStorage.setItem("user", JSON.stringify(res.user));
                // window.location.href = "/";
            })
            .catch(err => console.log(err));
    }

    retrieveUserInfos();
</script>