---
import BaseHead from "@components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
        <span id="username"></span>
        Welcome to {SITE_TITLE}
        <br>
        You have been successfully logged in with your GOOGLE account.
        <br>
        You will be redirected in a few seconds...
	</body>
</html>


<style>
    body {
        background-color: var(--color-primary);
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
</style>


<script>
import { Login } from "@classes/loginRedirection";

const redirectLogin = new Login("google");
redirectLogin.init();

</script>