---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// import Gallery from "@components/Gallery.astro";
import Hero from "@components/Hero.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import GallerySvelte from "@components/GallerySvelte.svelte";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-white dark:bg-primary transition-colors">
    <Header title={SITE_TITLE} />
    <Hero />
    <main>
      <!-- <Gallery /> -->
      <GallerySvelte client:load />
    </main>
    <Footer />
    <script>
      // import { Gallery } from "@classes/gallery";

      // export const gallery = new Gallery();
      // gallery.init();
    </script>
  </body>
</html>
