---
import Dialog from '../components/Dialog.astro'
---

<button id="open-dialog-btn" onClick="openDialog(event)">+ Add picture</button>

  <Dialog id="ImageDialog" title="Image Metadata Viewer">
  <form id="form-image">
    <!-- Can be multiple files if you setup "collection" instead of "model" -->
    <!-- <input type="file" name="files" />
    <input type="text" name="ref" value="api::image.image" />
    <input type="text" name="refId" value="5c126648c7415f0c0ef1bccd" />
    <input type="text" name="field" value="image" />
    <input type="submit" value="Submit" /> -->

    <input type="text" name="file_name" placeholder="file_name"/>
    <input type="file" name="image" />
    <input type="submit" value="Submit" />

  </form>

  </Dialog>

<script type="text/javascript">
  const token = localStorage.getItem('jwt');
  const form = document.getElementById('form-image');

  function openDialog(event) {

    const dialog = document.getElementById('ImageDialog');
    console.log(dialog)
    if (dialog) {
      dialog.showModal();
    }
  }

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const data = {};
    const formData = new FormData();

    console.log(' form.elements',  form.elements)

    Array.from(form.elements)
      .forEach(({ name, type, value, files, ...element }) => {
        if (!['submit', 'file'].includes(type)) {
          data[name] = value;
        } else if (type === 'file') {
          Array.from(files).forEach((file) => {
            formData.append(`files.${name}`, file, file.name);
          });
        }
      });

    formData.append('data', JSON.stringify(data));

    await fetch('https://hammerhead-app-377qb.ondigitalocean.app/api/images', {
      method: 'post',
      mode: 'no-cors',
      headers: {
        Authorization: `Bearer ${token}`,
        'Content-Type': 'multippart/form-data'
      },
      body: formData
    });
  });


  //   await fetch('https://hammerhead-app-377qb.ondigitalocean.app/api/upload', {
  //     method: 'post',
  //     mode: 'no-cors',
  //     headers: {
  //       Authorization: `Bearer ${token}`,
  //       'Content-Type': 'multippart/form-data'
  //     },
  //     body: new FormData(e.target)
  //   });
  // });

</script>


<script src="https://cdn.jsdelivr.net/npm/exifr@7.1.3/dist/full.umd.min.js"></script>


<style lang='scss'>

#image-preview {
  max-width: 320px;
  width: 320px;
  min-width: 320px;
  overflow: hidden;
  > img {
    width: 320px;
    max-width: 320px;
    min-width: 320px;
  }
}

.image-upload {
  display:flex;
  width: 50vw;
  gap: 1rem;
}
</style>