---
---
<form id="myForm">
  <input type="text" id="file_name" name="file_name" placeholder="File name" required><br>
  <input type="text" id="Image_width" name="Image_width" placeholder="Image width" required><br>
  <input type="text" id="Image_height" name="Image_height" placeholder="Image height" required><br>
  <textarea id="parameters" name="parameters" placeholder="Parameters" required></textarea><br>
  <!-- <input type="file" id="image" name="image" accept="image/png, image/jpeg"><br> -->

  <button type="submit">Submit</button>
</form>

<script>

const BEARER_TOKEN = 'eaaee52512d5885e2f301c3d39b314eda624605e6c94e190c5a21a28dd4a5065f5a652940320ae8a19c2ad4499bcf54d86c931f83dbff7c57c26fd0c3b920bf7b5dfaa9eea973c8863b2070d33e46582ed88c6266aa57243583a95564ae3465009362aec750c1aa6df841e4e3edb9db6c337474d4f5bb44514728f2db06485bf';
const API_URL = 'http://localhost:1337/api/images';
const JWT_TOKEN = localStorage.getItem('jwt');

const handleSubmit = (event) => {
  event.preventDefault();

  const formData = new FormData(event.target);
  // const file = formData.get('image');
  const allowedTypes = ['image/png', 'image/jpeg'];

  // if (file instanceof File && !allowedTypes.includes(file.type)) {
  //   alert('Invalid file type. Only PNG and JPEG images are allowed.');
  //   return;
  // }

  let formDataObject = {};

  for (let [key, value] of formData.entries()) {
    console.log(`${key}: ${value}`);
    formDataObject[key] = value;
  }

  fetch(API_URL, {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${BEARER_TOKEN}`,
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({data:formDataObject})
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error('An error occurred while submitting the data.');
      }
      return response;
    })
    .then(() => {
      alert('Data submitted successfully.');
    })
    .catch((error) => {
      alert(error.message);
    });
};

const form = document.getElementById('myForm');
if (form) {
  form.addEventListener('submit', handleSubmit);
} else {
  console.error('Form element with ID "myForm" not found.');
}


</script>