---
import Dialog from "./Dialog.astro";
---

<Dialog id="uploadImage" buttonLabel="upload an image" title="upload an image">

  <article class="grid grid-cols-2">
    <form id="myForm">
      <input type="text" id="file_name" name="file_name" placeholder="File name" required><br>
      <input type="text" id="Image_width" name="Image_width" placeholder="Image width" required><br>
      <input type="text" id="Image_height" name="Image_height" placeholder="Image height" required><br>
      <textarea id="parameters" name="parameters" placeholder="Parameters" required></textarea><br>
      <input type="file" id="image" name="image" accept="image/png, image/jpeg"><br>
  
      <button type="submit">Submit</button>
    </form>
    <div class="border-dashed border-black border-8 rounded-xl flex justify-center items-center p-3">
      <img id="imagePreview" alt="Image preview" style="max-width: 100%;">
    </div>
  </article>

</Dialog>

<script>

const BEARER_TOKEN = 'eaaee52512d5885e2f301c3d39b314eda624605e6c94e190c5a21a28dd4a5065f5a652940320ae8a19c2ad4499bcf54d86c931f83dbff7c57c26fd0c3b920bf7b5dfaa9eea973c8863b2070d33e46582ed88c6266aa57243583a95564ae3465009362aec750c1aa6df841e4e3edb9db6c337474d4f5bb44514728f2db06485bf';
const API_URL = 'http://localhost:1337/api/images';
const JWT_TOKEN = localStorage.getItem('jwt');


const form = document.getElementById('myForm');
const imagePreview = document.getElementById('imagePreview');
const imageInput = document.getElementById('image');

if(imageInput instanceof HTMLInputElement){
  imageInput.addEventListener('change', (event) => {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = (e) => {
          imagePreview.src = e.target.result;
        };
        reader.readAsDataURL(file);
      } else {
        imagePreview.src = '';
      }
    });
}



if (form instanceof HTMLFormElement) {


  form.addEventListener('submit', async (e) => {
  e.preventDefault();

  const data = {};
  const formData = new FormData();

  Array.from(form.elements)
    .forEach(({ name, type, value, files, ...element }) => {
      if (!['submit', 'file'].includes(type)) {
        data[name] = value;
      } else if (type === 'file') {
        Array.from(files).forEach((file) => {
          formData.append(`files.${name}`, file, file.name);
        });
      }
    });

  formData.append('data', JSON.stringify(data));

  await fetch(API_URL, {
    method: 'post',
    headers: {
      'Authorization': `Bearer ${BEARER_TOKEN}`
    },
    body: formData
  });
});
} else {
  console.error('Form element with id "myForm" not found in HTML document.');
}

</script>