---
import Dialog from "./Dialog.astro";

export interface Props {
  tag?: string;
}

const { tag } = Astro.props;
---

<section class="container-full">
  <article id="gallery" class="block w-full relative" data-tag={tag}></article>
  <div id="load-more" class="text-center py-7 text-gray-400 mt-40">Loading...</div>
</section>

<Dialog id="img-dialog" title="infos" classDialog={'md:mx-44'}>
  <p id="image-dialog-text"></p>
</Dialog>

<script>
  import { Gallery } from "../assets/js/gallery.js";

  console.log('GALLERY PAGE STARTS');

  const dataTag = document.querySelector('#gallery').dataset.tag;
  // if (dataTag) {
  //   console.log('dataTag', dataTag);
  // }

  export const gallery = new Gallery(dataTag);
  gallery.init();

</script>
