---
import Dialog from "./Dialog.astro";

export interface Props {
  tag?: string;
}

const { tag } = Astro.props;
---

<section class="container-full">
  <article id="gallery" class="block w-full relative" data-tag={tag}></article>
  <div id="load-more" class="text-center text-gray-400 mt-40 pt-7 pb-1">LOADING</div>
  <i id="loader-bar" class="loader-bar"></i>
</section>

<Dialog id="img-dialog">
  <p id="image-dialog-text"></p>
</Dialog>

<script>
  import { Gallery } from "@classes/gallery";

  // console.log('GALLERY PAGE STARTS');

  const dataTag = document.querySelector('#gallery')?.dataset.tag?? '';

  export const gallery = new Gallery(dataTag);
  gallery.init();

</script>

<style lang="scss">

@keyframes loader-bar-anim {
	0%,44%,88.1%,100% {
		transform-origin: left;
	}
	0%,100%,88% {
		transform: scaleX(0);
	}
	44.1%,88% {
		transform-origin: right;
	}
	33%,44% {
		transform: scaleX(1);
	}
}
.loader-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
	&::before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		height: 5px;
    padding: 0 2rem;
		background-color: #9ca3af;;
		animation: loader-bar-anim 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
	}
	&::after {
		content: '';
		box-sizing: border-box;
		position: absolute;
	}
}

</style>