---
import Dialog from "./Dialog.astro";
---

<section class="container-full">
  <article id="gallery" class="block w-full relative"></article>
  <div id="load-more" class="text-center py-7 text-gray-400">Loading...</div>
</section>

<Dialog id="img-dialog" title="infos">
  <p id="image-dialog-text"></p>
</Dialog>

<!-- <script is:inline src="https://cdn.jsdelivr.net/npm/minimasonry@latest/build/minimasonry.min.js"></script> -->
<script is:inline src="/mini-masonry.js"></script>

<script>
  import { Gallery } from "../assets/js/gallery.js";

  console.log('GALLERY PAGE STARTS');

//  const gallery = new Gallery();
export const loader = new Gallery();
loader.init();

</script>
