---
import type { HTMLAttributes } from 'astro/types';


type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---
<a href={href} class:list={[className, { active: isActive }]} {...props} class="link">
	<slot />
</a>
<style lang="scss">
	.link {
		margin: 0 1rem;
		text-transform: capitalize;
		padding: 1rem;
		border-radius: .5rem;
		cursor: pointer;
		&.active, &:hover {
			background-color: var(--color-primary);
			color: white;
		}
	}
</style>
