---
import HeroLink from "./HeroLink.astro";
import { API_URL, BEARER_TOKEN } from "../consts";

let endpoint = `${API_URL}tags`;
const headers = {
  "Content-Type": "application/json",
  Authorization: `Bearer ${BEARER_TOKEN}`,
};

const response = await fetch(endpoint, { headers });
const data = await response.json();
const tags = data.data;
---

<section class="hero">
  <img src="/img/back-splash.svg" class="absolute -z-10 opacity-60 mt-40">
  <nav class="mb-32">
    <HeroLink href="/">Latest</HeroLink>
    {tags.map((tag) => (
      <HeroLink href={tag.attributes.name}>{tag.attributes.name}</HeroLink>
    ))}
  </nav>
  <h1 class="hero-catch text-xl text-left font-black text-white mb-4"><span>WELCOME TO THE</span> <div class="text-9xl">BAD JOURNEY</div></h1>
  <input
    type="search"
    name="search image"
    placeholder="Search the worst of millions of art images by AI models like DALL-E, Stable Diffusion, Midjourney..."
    id="search-input"
    class="search-input"
  />
</section>

<style lang="scss">
  .hero {
    text-align: center;
    height: 659px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    .hero-catch {
      text-shadow: 0px 0px 20px rgba(23, 35, 40, 0.2);
    }
    .search-input {
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(23, 35, 40, 0.15);
      border-radius: 40px;
      padding: 16px 24px;
      width: 824px;
      height: 56px;
      outline: none;
      border: none;
    }
  }
</style>
